/* .custom-columns {
    display: flex;

    margin: 2px 2px 0 0;
  }

.custom-column {
    flex: 1;
    padding: 0 2px 0 0;
  }

.left-column{
    padding-left: 240px;
}
*/
.slds-accordion__list-item{
  border-top-style:none;
} 
.slds-accordion{
  --slds-c-accordion-summary-color-background: #F3F2F2;
}
