.slds-accordion__list-item{
  border-top-style:none;
} 
.slds-accordion{
  --slds-c-accordion-summary-color-background: #F3F2F2;

}

.my-style{
  padding:0;

}
.custom-modal-content .no-padding-modal {
  /* Adiciona um estilo personalizado para substituir o padding padrão do lightning-modal */
  padding: 0 !important;
  margin: 0 !important;
}